@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Teko:wght@700&display=swap');
:root {
    --headings: #3500D3;
    --text: #5AB9EA;
    --background: #0C0032;
    --headings-font-familiy: 'Teko', sans-serif;
    --text-font-familiy: 'Azeret Mono', monospace;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-familiy);
    color: var(--text);
}
h2 {
    color: var(--headings);
    font-family: var(--headings-font-familiy);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
p {
    line-height: 2;
}
hr {
    color: var(--text);
    margin: 3rem auto;
}
.Ingredients-Tbl {
    width: 70%;
    margin: 0 auto;
}

.Ingredients-Tbl img {
    width: 400px;
    float: left;
    margin-left: 3rem;
}