@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Teko:wght@700&display=swap');
:root {
    --headings: #3c15e9;
    --text: #5AB9EA;
    --background: #0C0032;
    --headings-font-familiy: 'Teko', sans-serif;
    --text-font-familiy: 'Azeret Mono', monospace;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    font-family: var(--text-font-familiy);
    color: var(--text);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: var(--headings);
    font-family: var(--headings-font-familiy);
    font-size: 2.5rem;
    padding-top: 1rem;
}
p {
    line-height: 2;
}
hr {
    width: 60%;
    color: var(--text);
    margin: 3rem auto;
}
.Ingredients-Tbl {
    width: 50%;
    height: 192px;
    margin: 0 auto;
}

.Ingredients-Ul {
    padding: 3rem;
}

.Ingredients-Tbl img {
    width: 30%;
    float: left;
    margin-right: 3rem;
    margin-left: 12rem;
}

.Preperation hr {
    width: 40%;
}

.Preperation {
    width: 25%;
    margin: 0 auto;
}

.Hyperlink {
    font-family: var(--headings-font-familiy);
    text-align: center;
    display: block;
    color: var(--text);
    font-size: 1.5rem;
}

footer {
    font-family: var(--headings-font-familiy);
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

@media (min-width: 480px)
{
    h1 
    {
        padding-top: 1rem;
        text-align: center;
    }
    .Ingredients-Tbl img 
    {
    width: 90%;
    float: left;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    }
    
    hr 
    {
    width: 80%;
    color: var(--text);
    margin: 1rem auto;
    margin-top: 2rem;
    }
    
    .Ingredients-Ul 
    {
        font-size: 1.1rem;
        text-align: none; 
        padding-left: 1rem;
    }
    
    .Ingredients-Tbl 
    {
        display: inline-block;
        width: 70%;
        height: 220px;
        margin: 1rem auto;
        margin-left: 15%; 
    }
    .Preperation hr {
        width: 100%;
    }

    .Preperation {
        font-size: 1.2rem;
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 768px)
{
    h1 
    {
        padding-top: 1rem;
        text-align: center;
    }
    .Ingredients-Tbl img 
    {
    width: 90%;
    float: left;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    }
    
    hr 
    {
    width: 80%;
    color: var(--text);
    margin: 1rem auto;
    margin-top: 2rem;
    }
    
    .Ingredients-Ul 
    {
        font-size: 1.3rem;
        margin-left: 25%;
        padding: 0;
    }
    
    .Ingredients-Tbl 
    {
        display: inline-block;
        width: 70%;
        height: 220px;
        margin: 1rem auto;
        margin-left: 15%; 
    }
    .Preperation hr {
        width: 100%;
    }

    .Preperation {
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px)
{
    h1 
    {
        padding-top: 1rem;
        text-align: center;
    }
    
    .Ingredients-Tbl img 
    {
    width: 90%;
    float: left;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    }
    
    hr 
    {
    width: 80%;
    color: var(--text);
    margin: 1rem auto;
    margin-top: 2rem;
    }
    
    .Ingredients-Ul 
    {
        font-size: 1.3rem;
        margin-left: 25%;
        padding: 0;
    }
    
    .Ingredients-Tbl 
    {
        display: inline-block;
        width: 50%;
        height: 220px;
        margin: 1rem auto;
        margin-left: 26%; 
    }

    .Preperation hr 
    {
        width: 100%;
    }

    .Preperation 
    {
        width: 50%;
        margin: 0 auto;
    }
}